---
import "../../../styles/main.scss"
import Navbar from "./Navbar.astro"
import Footer from "./Footer.astro"
import Favicon from "../../assets/js-favicon.svg"

export interface Props {
  title: string
  description?: string
  isHome?: boolean
  // Add any other props that might vary between pages
}

const {
  title,
  description = "Joyful Speaking - Linguistics Magazine",
  isHome = false,
} = Astro.props
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href={Favicon.src} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    <title>{title}</title>
  </head>
  <body>
    <Navbar isHome={isHome} />
    <main class="page">
      <slot />
    </main>
    <Footer />
    <script>
      import "bootstrap/dist/js/bootstrap.bundle.min.js"
    </script>
  </body>
</html>
