---
import "../assets/styles/main.css";
import "../assets/styles/persianFont.css";
import {
  book,
  children,
  education,
  hubArea,
  notebook,
  firstInstructor,
  secondInstructor,
  thirdInstructor,
} from "../assets/home/index.js";
import favicon from "../assets/js_favicon.svg";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

<!-- (post-production) TODO: make the circle around the footer arrow blue (It should look prettier?) -->
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={favicon} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <title>Joyful Speaking</title>
  </head>
  <body>
    <!-- <Navbar/> -->
    <Navbar isHome={true} />
    <!-- Showcase -->
    <section
      class="bg-primary text-light pt-7 pt-lg-6 text-center text-sm-start"
    >
      <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
          <img class="img-fluid w-50 d-none d-sm-block" src={notebook} alt="" />
          <div class="text-end responsive-paragraph">
            <h1>
              بدون دردسر زبان انگلیسی را <span class="text-warning">سلیس</span> صحبت
              کنید
            </h1>
            <p class="lead my-4 fs-5">
              هدف اصلی ما آموختن مفاهیم مهم زبان انگلیسی از طریق بهترین و برترین
              روش های آموزش زبان است
            </p>
            <button
              class="btn btn-warning btn-lg mb-2"
              data-bs-toggle="modal"
              data-bs-target="#enroll"
            >
              ثبت نام را شروع کنید
            </button>
          </div>
        </div>
      </div>
    </section>

    <!-- Newsletter -->
    <section class="bg-lightDark text-light p-5">
      <div class="container">
        <div
          class="d-md-flex justify-content-between align-items-center responsive-paragraph"
        >
          <h3 class="mb-3 mb-md-0">در هفته نامه ما ثبت نام کنید</h3>
          <form
            action="https://formspree.io/f/mbjverqb"
            method="POST"
            class="newsletter-form-size"
          >
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                name="email"
                placeholder="ایمیلتان را وارد کنید"
                required
              />
              <button class="btn btn-dark btn-lg" type="submit">ارسال</button>
            </div>
          </form>
        </div>
      </div>
    </section>
    <!-- Boxes -->
    <section class="p-5 my-5 fs-5">
      <div class="container">
        <div class="row text-center g-4">
          <div class="col-md">
            <div class="card text-primary border border-primary">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-laptop"></i>
                </div>
                <h3 class="card-title mb-3">مجازی</h3>
                <p class="card-text">
                  کلاس های ما به گونه های مختلفی برگزار می شوند. کلاس های آنلاین
                  مدرسان ما بسیار محبوب هستند
                </p>
                <a
                  href="./blogs/amirali/class-formats-explained"
                  class="btn btn-primary">بیشتر</a
                >
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card bg-lightDark text-light">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-person-square"></i>
                </div>
                <h3 class="card-title mb-3 p-3">دوگانه</h3>
                <p class="card-text">
                  دوره های دوگانه شامل جلسات هم حضوری و هم مجازی هستند
                </p>
                <a
                  href="./blogs/amirali/class-formats-explained"
                  class="btn btn-dark">بیشتر</a
                >
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card text-primary border border-primary">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-people"></i>
                </div>
                <h3 class="card-title mb-3">حضوری</h3>
                <p class="card-text">
                  جلسات حضوری نیز در اساس کار ما قرار دارند. کافی است هماهنگی
                  لازم را با مدرس مورد نظر خود انجام دهید
                </p>
                <a
                  href="./blogs/amirali/class-formats-explained"
                  class="btn btn-primary">بیشتر</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Learn Sections -->
    <section id="learn" class="p-5 bg-primary">
      <div class="container">
        <div class="row align-items-center justify-content-between text-light">
          <div class="col-md p-5 text-end responsive-paragraph">
            <h2 class="pb-3">مفاهیم اساسی را بیاموزید</h2>
            <p class="lead">
              هر هدفی که از شروع به یادگیری زبان انلگلیسی داشته باشید، آغاز مسیر
              از همین جاست
            </p>
            <p class="fs-5">
              رویکرد جامع ما برای آموزش اصول اولیه زبان انگلیسی تضمین می کند که
              شما همه مفاهیمی را که برای داشتن یک پایه محکم به عنوان یک زبان
              آموز نیاز دارید یاد می گیرید
            </p>
            <a
              href="./blogs/amirali/the-very-first-step"
              class="btn btn-warning mt-3"
            >
              <i class="bi bi-chevron-right"></i> بیشتر
            </a>
          </div>
          <div class="col-md">
            <img src={book} class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </section>
    <section id="learn" class="p-5">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md">
            <img src={education} class="img-fluid" alt="" />
          </div>
          <div class="col-md p-5 text-end responsive-paragraph">
            <h2 class="pb-2">گرامر پیشرفته و آیلتس</h2>
            <p class="lead">
              برای آزمون آیلتس به ساده ترین شکل ممکن آماده شوید
            </p>
            <p class="fs-5">
              آزمون آیلتس برای بسیاری از زبان آموزان چالش برانگیز به نظر می رسد،
              اما استراتژی ما به شما اجازه می دهد تا به راحتی به امتیاز ایده آل
              خود بدون هزینه های غیر ضروری برسید
            </p>
            <a
              data-bs-toggle="modal"
              data-bs-target="#ielts"
              class="btn btn-primary mt-3"
            >
              <i class="bi bi-chevron-right"></i> بیشتر
            </a>
          </div>
        </div>
      </div>
    </section>
    <section id="learn" class="p-5 my-3 bg-primary">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md p-5 text-end responsive-paragraph text-light">
            <h2 class="pb-2">روشی منحصر به فرد برای آموزش کودکان</h2>
            <p class="lead">
              کودکی زمان فوق العاده است برای شروع به یادگیری زبان انگلیسی
            </p>
            <p class="fs-5">
              با ثبت نام درکلاس های پویای ما، پتانسیل بی حد و مرز آینده فرزندتان
              را باز کنید! ما در پرورش ذهنی که علاقه مند به فراگیری زبان است
              تخصص داریم
            </p>
            <a
              data-bs-toggle="modal"
              data-bs-target="#children"
              class="btn btn-warning mt-3"
            >
              <i class="bi bi-chevron-right"></i> بیشتر
            </a>
          </div>
          <div class="col-md">
            <img src={children} class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </section>

    <!-- Question Accordion -->
    <section id="questions" class="p-5">
      <div class="container">
        <h2 class="text-center mb-4">سوالات متداول</h2>
        <div class="accordion accordion-flush" id="questions">
          <!-- Item 1 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-one"
              >
                دقیقا کجا قرار دارید؟
              </button>
            </h2>
            <div
              id="question-one"
              class="accordion-collapse collapse"
              data-bs-parent="#questions"
            >
              <div class="accordion-body text-end">
                مربیان ما در مناطق مختلف تهران قرار دارند. فقط باید مطمئن شوید
                که مربی منتخب شما می تواند کلاس ها را در نزدیکی محل شما برگزار
                کند. برای اطلاع از این موضوع، تماس بگیرید یا پیام ارسال کنید!
                اگر هیچ مربی در منطقه شما وجود ندارد، نگران نباشید! ما برای زبان
                آموزانی مانند شما کلاس های آنلاین ارائه می دهیم
              </div>
            </div>
          </div>
          <!-- Item 2 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-two"
              >
                هزینه شرکت در کلاس ها چقدر هست؟
              </button>
            </h2>
            <div
              id="question-two"
              class="accordion-collapse collapse"
              data-bs-parent="#questions"
            >
              <div class="accordion-body text-end">
                اطمینان از اینکه زبان آموزان ما نتیجه هزینه ای که پرداخت می کنند
                را ببینند، اولویت اصلی ما است. خدمات ما قیمت مناسبی دارند، اما
                بسته به مربی و خدماتی که ارائه می شود، قیمت آن متفاوت است.
                بنابراین، تنها کاری که باید انجام دهید این است که تماس بگیرید یا
                به مربی انتخابی خود پیام ارسال کنید
              </div>
            </div>
          </div>
          <!-- Item 3 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-three"
              >
                چه چیزی لازم هست بدانم؟
              </button>
            </h2>
            <div
              id="question-three"
              class="accordion-collapse collapse"
              data-bs-parent="#questions"
            >
              <div class="accordion-body text-end">
                در دوره های مبتدی ما پیشنیازی وجود ندارد. برای دوره های خاص
                مانند آیلتس و ادبیات انگلیسی می توانید برای اطلاع از پیش نیازها
                با مدرسان مربوطه تماس بگیرید
              </div>
            </div>
          </div>
          <!-- Item 4 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-four"
              >
                چطور ثبت نام کنم؟
              </button>
            </h2>
            <div
              id="question-four"
              class="accordion-collapse collapse"
              data-bs-parent="#questions"
            >
              <div class="accordion-body text-end">
                شما دو راه دارید، یا می توانید این<a
                  class="form-link"
                  data-bs-toggle="modal"
                  data-bs-target="#enroll"
                >
                  فرم
                </a> را پر کنید و یا مستقیما با ما تماس بگیرید
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="instructors" class="p-5 bg-primary">
      <div class="container">
        <h2 class="text-center text-white">مدرسان</h2>
        <p class="lead text-center text-white mb-5">
          تمامی مدرسان ما بالای ۵ سال سابقه کاری دارند
        </p>
        <div class="row g-4">
          <div class="col">
            <div class="card bg-light">
              <div class="card-body text-center add-padding-bottom">
                <img src={firstInstructor} class="rounded-circle mb-3" alt="" />
                <h3 class="card-title mb-3">امیرعلی تقی شاه</h3>
                <p class="card-text">
                  هیچ چیزی من را بیشتر از آشنا کردن زبان آموزان با مفاهیم جذاب
                  زبان انگلیسی هیجان زده نمی کند
                </p>
                <a href="tel:+989352487000"
                  ><i class="bi bi-telephone-fill text-dark mx-1"></i></a
                >
                <a href="https://wa.me/+989352487000"
                  ><i class="bi bi-whatsapp text-dark mx-1"></i></a
                >
                <a href="https://t.me/amiralixd"
                  ><i class="bi bi-telegram text-dark mx-1"></i></a
                >
                <a href="https://instagram.com/amirali_tsh"
                  ><i class="bi bi-instagram text-dark mx-1"></i></a
                >
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card bg-light">
              <div class="card-body text-center">
                <img
                  src={secondInstructor}
                  class="rounded-circle mb-3"
                  alt=""
                />
                <h3 class="card-title mb-3">ساره رنجبر</h3>
                <p class="card-text">
                  من تلاش می کنم تا بیشتر از دانش ارائه دهم - سعی من ایجاد
                  کنجکاوی، تشویق به تفکر انتقادی و عشق یادگرفتن انگلیسی در زبان
                  آموزانم هست
                </p>
                <a href="tel:+989391533600"
                  ><i class="bi bi-telephone-fill text-dark mx-1"></i></a
                >
                <a href="https://wa.me/+989391533600"
                  ><i class="bi bi-whatsapp text-dark mx-1"></i></a
                >
                <a href="https://t.me/sarehranjbar"
                  ><i class="bi bi-telegram text-dark mx-1"></i></a
                >
                <a href="https://instagram.com/sarehranjbar"
                  ><i class="bi bi-instagram text-dark mx-1"></i></a
                >
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card bg-light">
              <div class="card-body text-center">
                <img src={thirdInstructor} class="rounded-circle mb-3" alt="" />
                <h3 class="card-title mb-3">سهیلا عاشقی</h3>
                <p class="card-text">
                  آموزش کودکان از طریق بازی ها و فعالیت های سرگرم کننده مرا
                  سرشار از شادی می کند. مشتاقانه منتظر ایجاد این تجربه با کودکان
                  بیشتری هستم
                </p>
                <a href="tel:+989305776373"
                  ><i class="bi bi-telephone-fill text-dark mx-1"></i></a
                >
                <a href="https://wa.me/+989305776373"
                  ><i class="bi bi-whatsapp text-dark mx-1"></i></a
                >
                <a href="https://t.me/Star75moon"
                  ><i class="bi bi-telegram text-dark mx-1"></i></a
                >
                <a href="https://instagram.com/star.a27"
                  ><i class="bi bi-instagram text-dark mx-1"></i></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- blogs -->
    <section id="learn" class="p-5">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md">
            <img src={hubArea} class="img-fluid" alt="" />
          </div>
          <div class="col-md p-5 text-end responsive-paragraph">
            <h2 class="pb-2">آموزش ها و راهنمایی های خلاصه ما</h2>
            <p class="lead">بلاگ های ما را از دست ندهید</p>
            <p class="fs-5">
              چه به تازگی شروع به یادگیری کرده باشید، چه حرفه ای باشید، در وبلاگ
              ما نکاتی را خواهید دید که ارزش وقت شما را دارد
            </p>
            <a
              href="/blogs/authors"
              target="_blank"
              class="btn btn-primary mt-3"
            >
              <i class="bi bi-chevron-right"></i> بیشتر
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer -->
    <Footer />
    <!-- Enroll Modal -->
    <div
      class="modal fade"
      id="enroll"
      tabindex="-1"
      aria-labelledby="enrollLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button
              style="margin: 0;"
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"></button>
            <h5 class="modal-title" id="enrollLabel">ثبت نام</h5>
          </div>
          <div class="modal-body text-end">
            <p class="lead">
              بعد از پر کردن این فرم ما با شما تماس خواهیم گرفت
            </p>
            <form action="https://formspree.io/f/mbjverqb" method="POST">
              <div class="mb-3">
                <label for="first-name" class="col-form-label"> نام</label>
                <input
                  type="text"
                  class="form-control"
                  id="first-name"
                  name="firstName"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="last-name" class="col-form-label"
                  >نام خانوادگی</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="last-name"
                  name="lastName"
                />
              </div>
              <div class="mb-3">
                <label for="email" class="col-form-label">آدرس ایمیل</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="phone" class="col-form-label">شماره تماس</label>
                <input
                  type="tel"
                  class="form-control"
                  id="phone"
                  name="phone"
                />
              </div>
              <div class="text-center pb-3 fw-semibold fs-5">
                همچنین می توانید مستقیما با ما تماس بگیرید <a
                  href="tel:+989352487000">۰۹۳۵۲۴۸۷۰۰۰</a
                >
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  بستن
                </button>
                <button type="submit" class="btn btn-primary" id="signup-button"
                  >ارسال</button
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Children & IELTS Modal -->
    <div
      class="modal fade"
      id="children"
      tabindex="-1"
      aria-labelledby="enrollLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <p class="text-center">
              به زودی این صفحه به وب سایت اضافه خواهد شد. در حال حاضر می توانید
              به مدرس مربوطه
              <a class="form-link" href="https://t.me/Star75moon"> از اینجا</a>
              پیام بفرستید
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="ielts"
      tabindex="-1"
      aria-labelledby="enrollLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <p class="text-center">
              به زودی این صفحه به وب سایت اضافه خواهد شد. در حال حاضر می توانید
              به مدرس مربوطه
              <a class="form-link" href="https://t.me/sarehranjbar">
                از اینجا</a
              >
              پیام بفرستید
            </p>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"></script>
  </body>
</html>

<!-- 
  current step: 
  - Build the final version
  - Release
     - One final revision of everything before uploading the website
     - Once the website has been released, create a separate branch from the main branch for working on the "instrcutors" section
     - Work on content roadmap and SEO 
-->
