---
import "../assets/styles/main.css";
import "../assets/styles/persianFont.css";
import {
  book,
  children,
  education,
  hubArea,
  notebook,
  firstInstructor,
  secondInstructor,
  thirdInstructor,
} from "../assets/home/index.js";
import favicon from "../assets/js_favicon.svg";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

<!-- (post-production) TODO: make the circle around the footer arrow blue (It should look prettier?) -->
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={favicon} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <title>Joyful Speaking</title>
  </head>
  <body>
    <!-- <Navbar/> -->
    <Navbar isHome={true} />
    <!-- Showcase -->
    <section
      class="bg-primary text-light pt-7 pt-lg-6 text-center text-sm-start"
    >
      <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
          <!-- <img class="img-fluid w-50 d-none d-sm-block" src={notebook} alt="" /> -->
          <svg
            width="892"
            height="501"
            viewBox="0 0 892 501"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="notebook 1" clip-path="url(#clip0_124_76)">
              <g id="bg">
                <!-- TODO: (urgent) move this to a new file and try performing the animation on the imported object -->
                <path
                  id="Path 133"
                  d="M831.58 471.597C831.338 480.616 829.827 489.557 827.091 498.154C827.031 498.354 826.963 498.55 826.898 498.75H810.149C810.167 498.571 810.185 498.371 810.203 498.154C811.319 485.316 804.94 408.112 797.242 394.75C797.916 395.834 832.878 430.805 831.58 471.597Z"
                  fill="#F1F1F1"></path>
                <path
                  id="Path 134"
                  d="M830.323 498.154C830.183 498.354 830.037 498.553 829.888 498.75H817.323C817.418 498.58 817.529 498.381 817.656 498.154C819.732 494.408 825.876 483.208 831.578 471.597C837.704 459.119 843.329 446.169 842.856 441.481C843.002 442.538 847.243 474.766 830.323 498.154Z"
                  fill="#F1F1F1"></path>
                <path
                  id="Path 133_2"
                  d="M46.3504 478.584C46.5299 485.282 47.652 491.922 49.6839 498.308C49.7289 498.456 49.7789 498.602 49.8276 498.75H62.2664C62.2533 498.617 62.2398 498.469 62.2267 498.308C61.3974 488.773 66.1355 431.434 71.8528 421.51C71.3519 422.315 45.3859 448.288 46.3504 478.584Z"
                  fill="#F1F1F1"></path>
                <path
                  id="Path 134_2"
                  d="M47.2838 498.308C47.3878 498.456 47.496 498.604 47.6068 498.75H56.9387C56.868 498.624 56.786 498.476 56.691 498.308C55.1495 495.526 50.5867 487.207 46.3513 478.584C41.8016 469.317 37.6239 459.698 37.9758 456.217C37.8667 457.002 34.717 480.937 47.2838 498.308Z"
                  fill="#F1F1F1"></path>
                <path
                  id="Vector"
                  d="M654.047 351.25C560.1 311.436 475.105 312.949 395.047 337.25C271.695 315.707 187.228 319.04 133.047 351.25V251.25H654.047V351.25Z"
                  fill="#CBCBCB"></path>
                <path
                  id="Vector_2"
                  d="M654.047 323.75C567.495 284.533 481.048 282.001 393.297 323.75C303.419 297.872 216.533 298.142 132.547 323.75V19.75C221.841 -6.90096 308.701 -6.26052 393.297 19.75C482.659 -6.17068 569.653 -6.99276 654.047 19.75V323.75Z"
                  fill="#E5E5E5"></path>
                <path
                  id="Vector_3"
                  d="M156.002 57.4761L153.091 50.0244C154.232 49.5786 181.499 39.0376 221.515 33.6606C258.511 28.6884 313.63 27.5014 366.127 50.0752L362.967 57.4248C312.226 35.6064 258.736 36.7553 222.798 41.56C183.681 46.791 156.275 57.3696 156.002 57.4761Z"
                  fill="white"></path>
                <path
                  id="Vector_4"
                  d="M156.002 85.4761L153.091 78.0244C154.232 77.5786 181.499 67.0376 221.515 61.6607C258.511 56.689 313.63 55.5019 366.127 78.0752L362.967 85.4248C312.226 63.6065 258.736 64.7544 222.798 69.5601C183.681 74.791 156.275 85.3696 156.002 85.4761Z"
                  fill="white"></path>
                <path
                  id="Vector_5"
                  d="M156.002 113.476L153.091 106.024C154.232 105.579 181.499 95.0376 221.515 89.6606C258.511 84.6885 313.63 83.5014 366.127 106.075L362.967 113.425C312.226 91.6064 258.736 92.7544 222.798 97.5601C183.681 102.791 156.275 113.37 156.002 113.476Z"
                  fill="white"></path>
                <path
                  id="Vector_6"
                  d="M156.002 141.476L153.091 134.024C154.232 133.579 181.499 123.038 221.515 117.661C258.511 112.689 313.63 111.501 366.127 134.075L362.967 141.425C312.226 119.606 258.736 120.755 222.798 125.56C183.681 130.791 156.275 141.37 156.002 141.476Z"
                  fill="white"></path>
                <path
                  id="Vector_7"
                  d="M156.002 169.476L153.091 162.024C154.232 161.579 181.499 151.038 221.515 145.661C258.511 140.688 313.63 139.501 366.127 162.075L362.967 169.425C312.226 147.606 258.736 148.755 222.798 153.56C183.681 158.791 156.275 169.37 156.002 169.476Z"
                  fill="white"></path>
                <path
                  id="Vector_8"
                  d="M156.002 197.476L153.091 190.024C154.232 189.579 181.499 179.038 221.515 173.661C258.511 168.689 313.63 167.501 366.127 190.075L362.967 197.425C312.226 175.606 258.736 176.755 222.798 181.56C183.681 186.791 156.275 197.37 156.002 197.476Z"
                  fill="white"></path>
                <path
                  id="Vector_9"
                  d="M417.002 256.476L414.091 249.024C415.232 248.579 442.499 238.038 482.515 232.661C519.511 227.689 574.63 226.501 627.127 249.075L623.967 256.425C573.226 234.606 519.736 235.755 483.798 240.56C444.681 245.791 417.275 256.37 417.002 256.476Z"
                  fill="#6C63FF"></path>
                <path
                  id="Vector_10"
                  d="M414.547 202.739V49.8091L417.355 48.9321C488.498 26.709 559.296 26.7134 627.782 48.9453L630.547 49.8427V202.535L625.135 200.492C553.865 173.594 484.875 173.578 420.079 200.445L414.547 202.739ZM520.11 172.289C553.596 172.289 587.741 178.53 622.547 191.014V55.6699C557.433 35.1352 490.17 35.1465 422.547 55.7026V190.828C453.619 178.587 486.715 172.298 520.11 172.289Z"
                  fill="white"></path>
                <path
                  id="Vector_11"
                  d="M622.713 252.514L623.761 227.062L659.707 155.593C660.721 153.561 662.373 151.918 664.411 150.916C665.659 150.294 667.018 149.927 668.41 149.836C669.801 149.745 671.197 149.932 672.515 150.387C674.042 150.914 675.427 151.786 676.561 152.935C677.696 154.085 678.549 155.481 679.055 157.015C679.272 157.677 679.424 158.359 679.51 159.05C679.766 161.102 679.403 163.184 678.468 165.029L642.473 236.595L622.713 252.514Z"
                  fill="#6C63FF"></path>
                <path
                  id="Vector_12"
                  d="M668.888 150.315L629.868 227.895L626.893 226.399L664.632 151.365C665.955 150.703 667.409 150.344 668.888 150.315Z"
                  fill="#3F3D56"></path>
                <path
                  id="Vector_13"
                  d="M679.014 159.114L641.482 233.737L638.507 232.24L677.446 154.821C677.925 155.552 678.306 156.342 678.58 157.172C678.787 157.803 678.932 158.454 679.014 159.114Z"
                  fill="#3F3D56"></path>
                <path
                  id="Vector_14"
                  d="M675.278 152.455L635.827 230.892L632.852 229.396L672.352 150.86C672.773 151.004 673.184 151.177 673.581 151.377C674.181 151.68 674.749 152.041 675.278 152.455Z"
                  fill="#3F3D56"></path>
                <path
                  id="Vector_15"
                  d="M627.226 248.237L623.256 251.434L623.589 243.005C624.952 243.478 626.428 245.53 627.226 248.237Z"
                  fill="#3F3D56"></path>
                <path
                  id="Vector_16"
                  d="M235.674 340.104L230.922 325.688L235.985 278.287C236.124 276.941 236.701 275.679 237.628 274.692C238.193 274.084 238.875 273.594 239.632 273.251C240.389 272.909 241.207 272.721 242.037 272.698C242.999 272.671 243.954 272.867 244.828 273.271C245.702 273.674 246.471 274.274 247.075 275.023C247.335 275.347 247.563 275.695 247.755 276.063C248.328 277.154 248.562 278.391 248.428 279.616L243.358 327.082L235.674 340.104Z"
                  fill="#6C63FF"></path>
                <path
                  id="Vector_17"
                  d="M239.999 273.418L234.503 324.872L232.53 324.662L237.845 274.896C238.444 274.25 239.18 273.745 239.999 273.418Z"
                  fill="#3F3D56"></path>
                <path
                  id="Vector_18"
                  d="M247.492 276.202L242.206 325.695L240.232 325.484L245.717 274.137C246.137 274.444 246.516 274.805 246.843 275.21C247.091 275.519 247.308 275.852 247.492 276.202Z"
                  fill="#3F3D56"></path>
                <path
                  id="Vector_19"
                  d="M244.012 273.272L238.455 325.294L236.482 325.084L242.045 272.996C242.31 272.988 242.576 272.998 242.839 273.027C243.237 273.07 243.63 273.152 244.012 273.272Z"
                  fill="#3F3D56"></path>
                <path
                  id="Vector_20"
                  d="M237.295 336.772L235.751 339.388L234.169 334.617C235.028 334.595 236.282 335.43 237.295 336.772Z"
                  fill="#3F3D56"></path>
                <g id="Group 23">
                  <path
                    id="Path 385"
                    d="M750.44 323.199C749.898 324.146 749.176 324.977 748.313 325.644C747.451 326.312 746.465 326.803 745.413 327.09C743.288 327.669 741.02 327.38 739.107 326.287C737.195 325.193 735.796 323.385 735.217 321.26C734.638 319.135 734.926 316.866 736.02 314.954C736.038 314.922 736.057 314.889 736.076 314.857C736.308 314.468 736.57 314.097 736.858 313.747L729.872 263.952L729.663 262.46L728.244 252.299L728.034 250.834L728.808 250.871L742.344 251.489L745.973 251.653L746.428 260.923L749.003 313.038C750.348 314.325 751.221 316.026 751.481 317.869C751.742 319.713 751.375 321.59 750.44 323.199Z"
                    fill="#FFB8B8"></path>
                  <path
                    id="Path 386"
                    d="M729.703 262.911L746.891 261.335C747.783 261.25 748.605 260.817 749.178 260.129C749.751 259.441 750.029 258.554 749.951 257.662L746.767 221.919C746.46 218.477 744.798 215.297 742.146 213.08C739.495 210.863 736.071 209.79 732.628 210.098C729.186 210.405 726.006 212.067 723.789 214.719C721.572 217.371 720.499 220.794 720.807 224.237C720.829 224.483 720.858 224.728 720.894 224.973L726.048 260.032C726.166 260.835 726.569 261.569 727.183 262.1C727.797 262.631 728.582 262.924 729.394 262.926C729.497 262.927 729.6 262.923 729.703 262.911Z"
                    fill="#CBCBCB"></path>
                  <path
                    id="Path 387"
                    d="M742.731 234.035C744.47 229.111 744.55 223.753 742.961 218.779C741.371 213.805 738.198 209.487 733.926 206.483C727.445 202.048 718.576 200.456 709.024 211.827C697.465 225.709 689.221 242.042 684.918 259.585L724.034 265.953C724.034 265.953 737.336 249.693 742.731 234.035Z"
                    fill="#CBCBCB"></path>
                  <path
                    id="Path 388"
                    d="M679.466 490.206H668.313L663.008 447.189H679.468L679.466 490.206Z"
                    fill="#FFB8B8"></path>
                  <path
                    id="Path 389"
                    d="M646.808 500.56H681.858V487.018H660.35C656.758 487.018 653.314 488.445 650.774 490.985C648.234 493.524 646.808 496.969 646.808 500.56Z"
                    fill="#2F2E41"></path>
                  <path
                    id="Path 390"
                    d="M771.156 480.478L760.567 483.979L742.028 444.801L757.656 439.635L771.156 480.478Z"
                    fill="#FFB8B8"></path>
                  <path
                    id="Path 391"
                    d="M743.395 500.56L776.675 489.56L772.425 476.702L752.003 483.452C748.593 484.579 745.771 487.015 744.156 490.223C742.542 493.432 742.268 497.15 743.395 500.56Z"
                    fill="#2F2E41"></path>
                  <path
                    id="Ellipse 65"
                    d="M718.176 195.204C730.516 195.204 740.519 185.201 740.519 172.861C740.519 160.522 730.516 150.519 718.176 150.519C705.837 150.519 695.834 160.522 695.834 172.861C695.834 185.201 705.837 195.204 718.176 195.204Z"
                    fill="#FFB8B8"></path>
                  <path
                    id="Path 392"
                    d="M698.614 478.232L708.97 409.874C709.081 409.144 709.441 408.476 709.99 407.983C710.539 407.49 711.242 407.202 711.979 407.17C712.716 407.138 713.442 407.363 714.032 407.806C714.621 408.249 715.039 408.884 715.213 409.601L730.985 474.745C731.233 475.743 731.846 476.612 732.702 477.182C733.558 477.751 734.596 477.98 735.613 477.824L779.118 470.832C779.695 470.74 780.246 470.525 780.732 470.202C781.219 469.879 781.631 469.455 781.941 468.96C782.251 468.464 782.451 467.908 782.528 467.329C782.604 466.75 782.556 466.161 782.387 465.602L725.658 278.572C725.497 278.04 725.478 277.476 725.603 276.935L727.491 268.748C727.699 267.86 727.603 266.929 727.219 266.102C726.836 265.275 726.186 264.601 725.375 264.186C717.65 260.245 698.084 252.051 683.319 261.026C682.84 261.319 682.425 261.706 682.1 262.163C681.775 262.621 681.546 263.14 681.428 263.689L637.112 471.977C636.992 472.544 636.993 473.129 637.115 473.695C637.238 474.261 637.479 474.795 637.823 475.261C638.167 475.727 638.605 476.114 639.11 476.398C639.615 476.682 640.174 476.855 640.751 476.907L694.201 481.694C694.322 481.705 694.443 481.71 694.565 481.71C695.543 481.708 696.489 481.357 697.231 480.719C697.973 480.08 698.463 479.198 698.611 478.231L698.614 478.232Z"
                    fill="#2F2E41"></path>
                  <path
                    id="Path 393"
                    d="M732.991 157.076C731.307 156.063 729.813 154.764 728.575 153.237C727.964 152.466 727.562 151.55 727.407 150.578C727.252 149.606 727.351 148.611 727.692 147.688C728.821 145.197 732.175 144.413 734.775 145.258C737.375 146.103 739.383 148.144 741.282 150.109C742.955 151.838 744.676 153.65 745.467 155.923C746.257 158.196 745.852 161.079 743.878 162.459C741.941 163.813 739.155 163.259 737.292 161.805C735.533 160.216 734.13 158.272 733.176 156.102L732.991 157.076Z"
                    fill="#2F2E41"></path>
                  <path
                    id="Path 394"
                    d="M740.559 150.71C740.683 144.415 747.858 139.9 754.056 141.016C760.253 142.132 765.016 147.416 767.401 153.243C772.439 165.556 768.657 179.605 763.803 191.996C758.949 204.386 752.941 216.956 753.65 230.241C754.129 237.421 756.539 244.339 760.624 250.263C764.71 256.188 770.319 260.899 776.86 263.899C769.867 267.069 761.507 263.794 755.63 258.852C742.578 247.877 737.54 228.336 743.657 212.419C746.675 204.567 751.993 197.85 756.144 190.535C760.296 183.221 763.343 174.6 761.199 166.466C759.054 158.333 749.932 151.749 742.134 154.895L740.559 150.71Z"
                    fill="#2F2E41"></path>
                  <path
                    id="Path 395"
                    d="M716.836 182.776C718.784 179.485 720.748 175.164 717.189 172.286C716.415 171.689 715.53 171.253 714.585 171.003C713.639 170.753 712.654 170.695 711.686 170.831C707.672 171.315 703.301 171.514 699.416 170.056C697.959 169.555 696.617 168.765 695.471 167.735C694.325 166.705 693.397 165.456 692.744 164.06C690.742 159.308 693.249 153.534 697.442 150.53C700.007 148.759 703.038 147.785 706.155 147.73C709.271 147.674 712.334 148.541 714.961 150.22C720.391 147.821 726.98 148.888 731.914 152.19C736.848 155.492 740.224 160.78 742.058 166.426C743.748 171.286 744.038 176.523 742.898 181.541C741.98 185.031 740.234 188.249 737.809 190.922C735.384 193.594 732.35 195.643 728.965 196.895C727.647 197.415 726.215 197.58 724.813 197.372C723.41 197.164 722.088 196.592 720.976 195.712C719.17 194.093 717.783 192.059 716.934 189.787C716.192 187.297 715.797 184.534 716.836 182.776Z"
                    fill="#2F2E41"></path>
                  <path
                    id="Path 397"
                    d="M650.556 202.712C650.667 203.203 650.74 203.702 650.773 204.204L689.85 226.748L699.348 221.28L709.473 234.536L693.6 245.85C692.317 246.765 690.772 247.238 689.198 247.2C687.623 247.161 686.103 246.613 684.867 245.637L644.568 213.848C642.749 214.522 640.768 214.626 638.888 214.146C637.009 213.666 635.32 212.626 634.046 211.162C632.772 209.699 631.974 207.883 631.758 205.955C631.542 204.027 631.918 202.08 632.836 200.371C633.754 198.662 635.171 197.273 636.897 196.389C638.624 195.505 640.579 195.167 642.502 195.422C644.425 195.676 646.225 196.51 647.663 197.812C649.101 199.114 650.108 200.824 650.55 202.712L650.556 202.712Z"
                    fill="#FFB8B8"></path>
                  <path
                    id="Path 398"
                    d="M691.157 227.816L703.787 244.185C704.146 244.65 704.602 245.032 705.122 245.305C705.642 245.579 706.215 245.737 706.802 245.769C707.389 245.802 707.976 245.707 708.523 245.492C709.07 245.277 709.565 244.947 709.973 244.524L724.27 229.677C725.473 228.787 726.488 227.669 727.258 226.386C728.027 225.103 728.537 223.681 728.756 222.202C728.975 220.722 728.9 219.213 728.535 217.762C728.17 216.312 727.523 214.947 726.629 213.747C725.736 212.547 724.615 211.535 723.33 210.769C722.045 210.003 720.622 209.498 719.141 209.283C717.661 209.068 716.152 209.147 714.703 209.516C713.253 209.885 711.89 210.536 710.693 211.433C710.569 211.525 710.447 211.619 710.328 211.716L692.396 221.743C691.883 222.03 691.437 222.425 691.09 222.9C690.743 223.375 690.503 223.919 690.385 224.495C690.267 225.071 690.275 225.666 690.407 226.239C690.54 226.812 690.795 227.35 691.154 227.816H691.157Z"
                    fill="#CBCBCB"></path>
                </g>
                <path
                  id="Vector_21"
                  d="M208.552 488.809L220.675 488.808L226.443 442.047L208.55 442.048L208.552 488.809Z"
                  fill="#A0616A"></path>
                <path
                  id="Vector_22"
                  d="M205.459 484.851L229.335 484.85H229.336C233.371 484.85 237.241 486.453 240.094 489.306C242.947 492.16 244.551 496.029 244.551 500.065V500.559L205.46 500.56L205.459 484.851Z"
                  fill="#2F2E41"></path>
                <path
                  id="Vector_23"
                  d="M114.156 483.561L126.143 485.373L138.836 439.999L123.121 437.325L114.156 483.561Z"
                  fill="#A0616A"></path>
                <path
                  id="Vector_24"
                  d="M111.69 479.185L135.297 482.753C139.286 483.356 142.874 485.52 145.269 488.768C147.664 492.016 148.67 496.082 148.067 500.072L147.993 500.56L109.342 494.718L111.69 479.185Z"
                  fill="#2F2E41"></path>
                <path
                  id="Vector_25"
                  d="M151.535 257.07L164.996 260.597L164.1 282.421L163.989 322.155C165.316 323.072 166.332 324.37 166.904 325.878C167.477 327.385 167.578 329.031 167.194 330.597C166.811 332.164 165.961 333.576 164.757 334.649C163.554 335.722 162.052 336.404 160.452 336.605C158.853 336.806 157.229 336.517 155.798 335.775C154.366 335.033 153.193 333.875 152.434 332.452C151.675 331.029 151.366 329.41 151.547 327.807C151.729 326.205 152.393 324.696 153.451 323.479L149.314 283.599L151.535 257.07Z"
                  fill="#A0616A"></path>
                <path
                  id="Vector_26"
                  d="M149.192 232.073C149.266 229.964 149.946 227.921 151.151 226.188C152.355 224.455 154.034 223.106 155.985 222.301C157.811 221.484 159.836 221.218 161.812 221.536C163.787 221.854 165.627 222.741 167.105 224.09C168.167 225.039 169.01 226.209 169.574 227.517C170.137 228.825 170.409 230.241 170.37 231.665C170.405 244.449 167.519 263.084 167.49 263.271L167.444 263.567L147.769 270.193L149.192 232.073Z"
                  fill="#CBCBCB"></path>
                <path
                  id="Vector_27"
                  d="M184.372 268.364L214.466 260.575L228.377 307.425L228.871 481.959L205.858 481.815L196.238 340.552L134.929 471.082L110.207 468.115L164.1 328.191C164.1 328.191 161.134 303.469 170.528 291.108L168.55 278.253L184.372 268.364Z"
                  fill="#2F2E41"></path>
                <path
                  id="Vector_28"
                  d="M164.08 280.021C163.66 279.509 163.354 278.913 163.184 278.273C163.015 277.633 162.985 276.964 163.097 276.311L149.37 235.131C148.729 233.206 148.661 231.136 149.174 229.173C149.687 227.21 150.759 225.438 152.259 224.072L158.218 218.656L162.257 202.503L185.467 208.176L183.554 215.825L194.059 213.916L216.184 263.193L169.937 281.679L167.659 281.714C166.974 281.716 166.298 281.564 165.679 281.271C165.06 280.978 164.514 280.551 164.08 280.021Z"
                  fill="#CBCBCB"></path>
                <path
                  id="Vector_29"
                  d="M196.295 245.251L209.557 241.036L220.466 259.959L241.611 293.6C243.222 293.666 244.775 294.22 246.065 295.188C247.354 296.156 248.319 297.493 248.833 299.022C249.346 300.55 249.383 302.199 248.939 303.749C248.495 305.299 247.591 306.678 246.346 307.703C245.101 308.728 243.575 309.351 241.968 309.489C240.362 309.628 238.751 309.276 237.349 308.479C235.947 307.682 234.82 306.479 234.117 305.028C233.414 303.576 233.168 301.946 233.412 300.352L208.599 268.859L196.295 245.251Z"
                  fill="#A0616A"></path>
                <path
                  id="Vector_30"
                  d="M180.953 225.376C179.889 223.554 179.372 221.464 179.463 219.356C179.555 217.247 180.252 215.21 181.471 213.488C182.578 211.821 184.148 210.514 185.987 209.727C187.826 208.94 189.855 208.706 191.825 209.055C193.23 209.289 194.567 209.827 195.743 210.632C196.919 211.436 197.906 212.487 198.634 213.712C205.497 224.497 213.019 241.79 213.094 241.963L213.213 242.238L200.126 258.354L180.953 225.376Z"
                  fill="#CBCBCB"></path>
                <path
                  id="Vector_31"
                  d="M179.429 199.497C189.614 199.497 197.87 191.241 197.87 181.056C197.87 170.871 189.614 162.615 179.429 162.615C169.244 162.615 160.988 170.871 160.988 181.056C160.988 191.241 169.244 199.497 179.429 199.497Z"
                  fill="#A0616A"></path>
                <path
                  id="Vector_32"
                  d="M146.839 173.277C156.65 173.277 164.603 165.324 164.603 155.514C164.603 145.703 156.65 137.75 146.839 137.75C137.029 137.75 129.076 145.703 129.076 155.514C129.076 165.324 137.029 173.277 146.839 173.277Z"
                  fill="#2F2E41"></path>
                <path
                  id="Vector_33"
                  d="M131.517 170.223C133.817 171.885 136.48 172.972 139.286 173.393C142.091 173.814 144.957 173.557 147.642 172.644C150.328 171.731 152.756 170.188 154.723 168.144C156.69 166.1 158.139 163.614 158.949 160.896C158.643 163.332 157.835 165.679 156.576 167.787C155.317 169.895 153.634 171.72 151.634 173.145C149.635 174.571 147.361 175.566 144.957 176.068C142.554 176.57 140.072 176.569 137.669 176.064C135.266 175.559 132.993 174.561 130.995 173.133C128.997 171.705 127.317 169.879 126.06 167.769C124.804 165.659 123.998 163.312 123.695 160.875C123.392 158.438 123.597 155.965 124.297 153.611C123.899 156.773 124.36 159.984 125.63 162.907C126.9 165.83 128.934 168.357 131.517 170.223Z"
                  fill="#2F2E41"></path>
                <path
                  id="Vector_34"
                  d="M201.62 170.243C198.519 164.691 197.333 162.372 193.334 158.996C189.799 156.01 185.449 155.133 181.941 157.962C177.791 156.169 173.174 155.763 168.775 156.803C164.375 157.843 160.429 160.275 157.521 163.737C154.614 167.198 152.901 171.506 152.636 176.019C152.372 180.532 153.57 185.01 156.054 188.787C158.537 192.565 162.172 195.441 166.42 196.988C170.668 198.535 175.301 198.67 179.632 197.374C183.963 196.078 187.76 193.419 190.46 189.793C193.16 186.167 194.618 181.767 194.617 177.246C194.614 176.452 194.566 175.659 194.474 174.871C197.523 174.442 198.571 170.671 201.62 170.243Z"
                  fill="#2F2E41"></path>
                <path
                  id="Vector_35"
                  d="M382 500.75H1C0.734784 500.75 0.480429 500.645 0.292892 500.457C0.105356 500.27 0 500.015 0 499.75C0 499.485 0.105356 499.23 0.292892 499.043C0.480429 498.855 0.734784 498.75 1 498.75H382C382.265 498.75 382.52 498.855 382.707 499.043C382.895 499.23 383 499.485 383 499.75C383 500.015 382.895 500.27 382.707 500.457C382.52 500.645 382.265 500.75 382 500.75Z"
                  fill="#CBCBCB"></path>
                <path
                  id="Vector_36"
                  d="M891 500.75H510C509.735 500.75 509.48 500.645 509.293 500.457C509.105 500.27 509 500.015 509 499.75C509 499.485 509.105 499.23 509.293 499.043C509.48 498.855 509.735 498.75 510 498.75H891C891.265 498.75 891.52 498.855 891.707 499.043C891.895 499.23 892 499.485 892 499.75C892 500.015 891.895 500.27 891.707 500.457C891.52 500.645 891.265 500.75 891 500.75Z"
                  fill="#CBCBCB"></path>
                <path
                  id="Vector_37"
                  d="M394.297 19.75H392.297V322.788H394.297V19.75Z"
                  fill="#CBCBCB"></path>
              </g>
              <path
                id="heroText"
                d="M462.492 104.258V107H453.902V104.258H462.492ZM455.039 89.9375V107H451.523V89.9375H455.039ZM470.133 107.234C469.148 107.234 468.266 107.078 467.484 106.766C466.703 106.445 466.039 106.004 465.492 105.441C464.953 104.879 464.539 104.227 464.25 103.484C463.961 102.734 463.816 101.938 463.816 101.094V100.625C463.816 99.6641 463.953 98.7852 464.227 97.9883C464.5 97.1914 464.891 96.5 465.398 95.9141C465.914 95.3281 466.539 94.8789 467.273 94.5664C468.008 94.2461 468.836 94.0859 469.758 94.0859C470.656 94.0859 471.453 94.2344 472.148 94.5312C472.844 94.8281 473.426 95.25 473.895 95.7969C474.371 96.3438 474.73 97 474.973 97.7656C475.215 98.5234 475.336 99.3672 475.336 100.297V101.703H465.258V99.4531H472.02V99.1953C472.02 98.7266 471.934 98.3086 471.762 97.9414C471.598 97.5664 471.348 97.2695 471.012 97.0508C470.676 96.832 470.246 96.7227 469.723 96.7227C469.277 96.7227 468.895 96.8203 468.574 97.0156C468.254 97.2109 467.992 97.4844 467.789 97.8359C467.594 98.1875 467.445 98.6016 467.344 99.0781C467.25 99.5469 467.203 100.062 467.203 100.625V101.094C467.203 101.602 467.273 102.07 467.414 102.5C467.562 102.93 467.77 103.301 468.035 103.613C468.309 103.926 468.637 104.168 469.02 104.34C469.41 104.512 469.852 104.598 470.344 104.598C470.953 104.598 471.52 104.48 472.043 104.246C472.574 104.004 473.031 103.641 473.414 103.156L475.055 104.938C474.789 105.32 474.426 105.688 473.965 106.039C473.512 106.391 472.965 106.68 472.324 106.906C471.684 107.125 470.953 107.234 470.133 107.234ZM484.102 104.141V98.4922C484.102 98.0859 484.035 97.7383 483.902 97.4492C483.77 97.1523 483.562 96.9219 483.281 96.7578C483.008 96.5938 482.652 96.5117 482.215 96.5117C481.84 96.5117 481.516 96.5781 481.242 96.7109C480.969 96.8359 480.758 97.0195 480.609 97.2617C480.461 97.4961 480.387 97.7734 480.387 98.0938H477.012C477.012 97.5547 477.137 97.043 477.387 96.5586C477.637 96.0742 478 95.6484 478.477 95.2812C478.953 94.9062 479.52 94.6133 480.176 94.4023C480.84 94.1914 481.582 94.0859 482.402 94.0859C483.387 94.0859 484.262 94.25 485.027 94.5781C485.793 94.9062 486.395 95.3984 486.832 96.0547C487.277 96.7109 487.5 97.5312 487.5 98.5156V103.941C487.5 104.637 487.543 105.207 487.629 105.652C487.715 106.09 487.84 106.473 488.004 106.801V107H484.594C484.43 106.656 484.305 106.227 484.219 105.711C484.141 105.188 484.102 104.664 484.102 104.141ZM484.547 99.2773L484.57 101.188H482.684C482.238 101.188 481.852 101.238 481.523 101.34C481.195 101.441 480.926 101.586 480.715 101.773C480.504 101.953 480.348 102.164 480.246 102.406C480.152 102.648 480.105 102.914 480.105 103.203C480.105 103.492 480.172 103.754 480.305 103.988C480.438 104.215 480.629 104.395 480.879 104.527C481.129 104.652 481.422 104.715 481.758 104.715C482.266 104.715 482.707 104.613 483.082 104.41C483.457 104.207 483.746 103.957 483.949 103.66C484.16 103.363 484.27 103.082 484.277 102.816L485.168 104.246C485.043 104.566 484.871 104.898 484.652 105.242C484.441 105.586 484.172 105.91 483.844 106.215C483.516 106.512 483.121 106.758 482.66 106.953C482.199 107.141 481.652 107.234 481.02 107.234C480.215 107.234 479.484 107.074 478.828 106.754C478.18 106.426 477.664 105.977 477.281 105.406C476.906 104.828 476.719 104.172 476.719 103.438C476.719 102.773 476.844 102.184 477.094 101.668C477.344 101.152 477.711 100.719 478.195 100.367C478.688 100.008 479.301 99.7383 480.035 99.5586C480.77 99.3711 481.621 99.2773 482.59 99.2773H484.547ZM493.477 97.0859V107H490.102V94.3203H493.277L493.477 97.0859ZM497.297 94.2383L497.238 97.3672C497.074 97.3438 496.875 97.3242 496.641 97.3086C496.414 97.2852 496.207 97.2734 496.02 97.2734C495.543 97.2734 495.129 97.3359 494.777 97.4609C494.434 97.5781 494.145 97.7539 493.91 97.9883C493.684 98.2227 493.512 98.5078 493.395 98.8438C493.285 99.1797 493.223 99.5625 493.207 99.9922L492.527 99.7812C492.527 98.9609 492.609 98.207 492.773 97.5195C492.938 96.8242 493.176 96.2188 493.488 95.7031C493.809 95.1875 494.199 94.7891 494.66 94.5078C495.121 94.2266 495.648 94.0859 496.242 94.0859C496.43 94.0859 496.621 94.1016 496.816 94.1328C497.012 94.1562 497.172 94.1914 497.297 94.2383ZM502.195 97.0273V107H498.82V94.3203H501.984L502.195 97.0273ZM501.703 100.215H500.789C500.789 99.2773 500.91 98.4336 501.152 97.6836C501.395 96.9258 501.734 96.2812 502.172 95.75C502.609 95.2109 503.129 94.8008 503.73 94.5195C504.34 94.2305 505.02 94.0859 505.77 94.0859C506.363 94.0859 506.906 94.1719 507.398 94.3438C507.891 94.5156 508.312 94.7891 508.664 95.1641C509.023 95.5391 509.297 96.0352 509.484 96.6523C509.68 97.2695 509.777 98.0234 509.777 98.9141V107H506.379V98.9023C506.379 98.3398 506.301 97.9023 506.145 97.5898C505.988 97.2773 505.758 97.0586 505.453 96.9336C505.156 96.8008 504.789 96.7344 504.352 96.7344C503.898 96.7344 503.504 96.8242 503.168 97.0039C502.84 97.1836 502.566 97.4336 502.348 97.7539C502.137 98.0664 501.977 98.4336 501.867 98.8555C501.758 99.2773 501.703 99.7305 501.703 100.215ZM529.98 104.258V107H520.898V104.258H529.98ZM522.047 89.9375V107H518.531V89.9375H522.047ZM528.797 96.8867V99.5586H520.898V96.8867H528.797ZM529.969 89.9375V92.6914H520.898V89.9375H529.969ZM535.125 97.0273V107H531.75V94.3203H534.914L535.125 97.0273ZM534.633 100.215H533.719C533.719 99.2773 533.84 98.4336 534.082 97.6836C534.324 96.9258 534.664 96.2812 535.102 95.75C535.539 95.2109 536.059 94.8008 536.66 94.5195C537.27 94.2305 537.949 94.0859 538.699 94.0859C539.293 94.0859 539.836 94.1719 540.328 94.3438C540.82 94.5156 541.242 94.7891 541.594 95.1641C541.953 95.5391 542.227 96.0352 542.414 96.6523C542.609 97.2695 542.707 98.0234 542.707 98.9141V107H539.309V98.9023C539.309 98.3398 539.23 97.9023 539.074 97.5898C538.918 97.2773 538.688 97.0586 538.383 96.9336C538.086 96.8008 537.719 96.7344 537.281 96.7344C536.828 96.7344 536.434 96.8242 536.098 97.0039C535.77 97.1836 535.496 97.4336 535.277 97.7539C535.066 98.0664 534.906 98.4336 534.797 98.8555C534.688 99.2773 534.633 99.7305 534.633 100.215ZM553.301 94.3203H556.359V106.578C556.359 107.734 556.102 108.715 555.586 109.52C555.078 110.332 554.367 110.945 553.453 111.359C552.539 111.781 551.477 111.992 550.266 111.992C549.734 111.992 549.172 111.922 548.578 111.781C547.992 111.641 547.43 111.422 546.891 111.125C546.359 110.828 545.914 110.453 545.555 110L547.043 108.008C547.434 108.461 547.887 108.812 548.402 109.062C548.918 109.32 549.488 109.449 550.113 109.449C550.723 109.449 551.238 109.336 551.66 109.109C552.082 108.891 552.406 108.566 552.633 108.137C552.859 107.715 552.973 107.203 552.973 106.602V97.25L553.301 94.3203ZM544.77 100.812V100.566C544.77 99.5977 544.887 98.7188 545.121 97.9297C545.363 97.1328 545.703 96.4492 546.141 95.8789C546.586 95.3086 547.125 94.8672 547.758 94.5547C548.391 94.2422 549.105 94.0859 549.902 94.0859C550.746 94.0859 551.453 94.2422 552.023 94.5547C552.594 94.8672 553.062 95.3125 553.43 95.8906C553.797 96.4609 554.082 97.1367 554.285 97.918C554.496 98.6914 554.66 99.5391 554.777 100.461V101C554.66 101.883 554.484 102.703 554.25 103.461C554.016 104.219 553.707 104.883 553.324 105.453C552.941 106.016 552.465 106.453 551.895 106.766C551.332 107.078 550.66 107.234 549.879 107.234C549.098 107.234 548.391 107.074 547.758 106.754C547.133 106.434 546.598 105.984 546.152 105.406C545.707 104.828 545.363 104.148 545.121 103.367C544.887 102.586 544.77 101.734 544.77 100.812ZM548.145 100.566V100.812C548.145 101.336 548.195 101.824 548.297 102.277C548.398 102.73 548.555 103.133 548.766 103.484C548.984 103.828 549.254 104.098 549.574 104.293C549.902 104.48 550.289 104.574 550.734 104.574C551.352 104.574 551.855 104.445 552.246 104.188C552.637 103.922 552.93 103.559 553.125 103.098C553.32 102.637 553.434 102.105 553.465 101.504V99.9688C553.449 99.4766 553.383 99.0352 553.266 98.6445C553.148 98.2461 552.984 97.9062 552.773 97.625C552.562 97.3438 552.289 97.125 551.953 96.9688C551.617 96.8125 551.219 96.7344 550.758 96.7344C550.312 96.7344 549.926 96.8359 549.598 97.0391C549.277 97.2344 549.008 97.5039 548.789 97.8477C548.578 98.1914 548.418 98.5977 548.309 99.0664C548.199 99.5273 548.145 100.027 548.145 100.566ZM562.547 89V107H559.16V89H562.547ZM568.898 94.3203V107H565.512V94.3203H568.898ZM565.301 91.0156C565.301 90.5234 565.473 90.1172 565.816 89.7969C566.16 89.4766 566.621 89.3164 567.199 89.3164C567.77 89.3164 568.227 89.4766 568.57 89.7969C568.922 90.1172 569.098 90.5234 569.098 91.0156C569.098 91.5078 568.922 91.9141 568.57 92.2344C568.227 92.5547 567.77 92.7148 567.199 92.7148C566.621 92.7148 566.16 92.5547 565.816 92.2344C565.473 91.9141 565.301 91.5078 565.301 91.0156ZM578.543 103.496C578.543 103.254 578.473 103.035 578.332 102.84C578.191 102.645 577.93 102.465 577.547 102.301C577.172 102.129 576.629 101.973 575.918 101.832C575.277 101.691 574.68 101.516 574.125 101.305C573.578 101.086 573.102 100.824 572.695 100.52C572.297 100.215 571.984 99.8555 571.758 99.4414C571.531 99.0195 571.418 98.5391 571.418 98C571.418 97.4688 571.531 96.9688 571.758 96.5C571.992 96.0312 572.324 95.6172 572.754 95.2578C573.191 94.8906 573.723 94.6055 574.348 94.4023C574.98 94.1914 575.691 94.0859 576.48 94.0859C577.582 94.0859 578.527 94.2617 579.316 94.6133C580.113 94.9648 580.723 95.4492 581.145 96.0664C581.574 96.6758 581.789 97.3711 581.789 98.1523H578.414C578.414 97.8242 578.344 97.5312 578.203 97.2734C578.07 97.0078 577.859 96.8008 577.57 96.6523C577.289 96.4961 576.922 96.418 576.469 96.418C576.094 96.418 575.77 96.4844 575.496 96.6172C575.223 96.7422 575.012 96.9141 574.863 97.1328C574.723 97.3438 574.652 97.5781 574.652 97.8359C574.652 98.0312 574.691 98.207 574.77 98.3633C574.855 98.5117 574.992 98.6484 575.18 98.7734C575.367 98.8984 575.609 99.0156 575.906 99.125C576.211 99.2266 576.586 99.3203 577.031 99.4062C577.945 99.5938 578.762 99.8398 579.48 100.145C580.199 100.441 580.77 100.848 581.191 101.363C581.613 101.871 581.824 102.539 581.824 103.367C581.824 103.93 581.699 104.445 581.449 104.914C581.199 105.383 580.84 105.793 580.371 106.145C579.902 106.488 579.34 106.758 578.684 106.953C578.035 107.141 577.305 107.234 576.492 107.234C575.312 107.234 574.312 107.023 573.492 106.602C572.68 106.18 572.062 105.645 571.641 104.996C571.227 104.34 571.02 103.668 571.02 102.98H574.219C574.234 103.441 574.352 103.812 574.57 104.094C574.797 104.375 575.082 104.578 575.426 104.703C575.777 104.828 576.156 104.891 576.562 104.891C577 104.891 577.363 104.832 577.652 104.715C577.941 104.59 578.16 104.426 578.309 104.223C578.465 104.012 578.543 103.77 578.543 103.496ZM587.309 89V107H583.934V89H587.309ZM586.828 100.215H585.902C585.91 99.332 586.027 98.5195 586.254 97.7773C586.48 97.0273 586.805 96.3789 587.227 95.832C587.648 95.2773 588.152 94.8477 588.738 94.543C589.332 94.2383 589.988 94.0859 590.707 94.0859C591.332 94.0859 591.898 94.1758 592.406 94.3555C592.922 94.5273 593.363 94.8086 593.73 95.1992C594.105 95.582 594.395 96.0859 594.598 96.7109C594.801 97.3359 594.902 98.0938 594.902 98.9844V107H591.504V98.9609C591.504 98.3984 591.422 97.957 591.258 97.6367C591.102 97.3086 590.871 97.0781 590.566 96.9453C590.27 96.8047 589.902 96.7344 589.465 96.7344C588.98 96.7344 588.566 96.8242 588.223 97.0039C587.887 97.1836 587.617 97.4336 587.414 97.7539C587.211 98.0664 587.062 98.4336 586.969 98.8555C586.875 99.2773 586.828 99.7305 586.828 100.215ZM458.156 132.141V126.492C458.156 126.086 458.09 125.738 457.957 125.449C457.824 125.152 457.617 124.922 457.336 124.758C457.062 124.594 456.707 124.512 456.27 124.512C455.895 124.512 455.57 124.578 455.297 124.711C455.023 124.836 454.812 125.02 454.664 125.262C454.516 125.496 454.441 125.773 454.441 126.094H451.066C451.066 125.555 451.191 125.043 451.441 124.559C451.691 124.074 452.055 123.648 452.531 123.281C453.008 122.906 453.574 122.613 454.23 122.402C454.895 122.191 455.637 122.086 456.457 122.086C457.441 122.086 458.316 122.25 459.082 122.578C459.848 122.906 460.449 123.398 460.887 124.055C461.332 124.711 461.555 125.531 461.555 126.516V131.941C461.555 132.637 461.598 133.207 461.684 133.652C461.77 134.09 461.895 134.473 462.059 134.801V135H458.648C458.484 134.656 458.359 134.227 458.273 133.711C458.195 133.188 458.156 132.664 458.156 132.141ZM458.602 127.277L458.625 129.188H456.738C456.293 129.188 455.906 129.238 455.578 129.34C455.25 129.441 454.98 129.586 454.77 129.773C454.559 129.953 454.402 130.164 454.301 130.406C454.207 130.648 454.16 130.914 454.16 131.203C454.16 131.492 454.227 131.754 454.359 131.988C454.492 132.215 454.684 132.395 454.934 132.527C455.184 132.652 455.477 132.715 455.812 132.715C456.32 132.715 456.762 132.613 457.137 132.41C457.512 132.207 457.801 131.957 458.004 131.66C458.215 131.363 458.324 131.082 458.332 130.816L459.223 132.246C459.098 132.566 458.926 132.898 458.707 133.242C458.496 133.586 458.227 133.91 457.898 134.215C457.57 134.512 457.176 134.758 456.715 134.953C456.254 135.141 455.707 135.234 455.074 135.234C454.27 135.234 453.539 135.074 452.883 134.754C452.234 134.426 451.719 133.977 451.336 133.406C450.961 132.828 450.773 132.172 450.773 131.438C450.773 130.773 450.898 130.184 451.148 129.668C451.398 129.152 451.766 128.719 452.25 128.367C452.742 128.008 453.355 127.738 454.09 127.559C454.824 127.371 455.676 127.277 456.645 127.277H458.602ZM471.012 131.496C471.012 131.254 470.941 131.035 470.801 130.84C470.66 130.645 470.398 130.465 470.016 130.301C469.641 130.129 469.098 129.973 468.387 129.832C467.746 129.691 467.148 129.516 466.594 129.305C466.047 129.086 465.57 128.824 465.164 128.52C464.766 128.215 464.453 127.855 464.227 127.441C464 127.02 463.887 126.539 463.887 126C463.887 125.469 464 124.969 464.227 124.5C464.461 124.031 464.793 123.617 465.223 123.258C465.66 122.891 466.191 122.605 466.816 122.402C467.449 122.191 468.16 122.086 468.949 122.086C470.051 122.086 470.996 122.262 471.785 122.613C472.582 122.965 473.191 123.449 473.613 124.066C474.043 124.676 474.258 125.371 474.258 126.152H470.883C470.883 125.824 470.812 125.531 470.672 125.273C470.539 125.008 470.328 124.801 470.039 124.652C469.758 124.496 469.391 124.418 468.938 124.418C468.562 124.418 468.238 124.484 467.965 124.617C467.691 124.742 467.48 124.914 467.332 125.133C467.191 125.344 467.121 125.578 467.121 125.836C467.121 126.031 467.16 126.207 467.238 126.363C467.324 126.512 467.461 126.648 467.648 126.773C467.836 126.898 468.078 127.016 468.375 127.125C468.68 127.227 469.055 127.32 469.5 127.406C470.414 127.594 471.23 127.84 471.949 128.145C472.668 128.441 473.238 128.848 473.66 129.363C474.082 129.871 474.293 130.539 474.293 131.367C474.293 131.93 474.168 132.445 473.918 132.914C473.668 133.383 473.309 133.793 472.84 134.145C472.371 134.488 471.809 134.758 471.152 134.953C470.504 135.141 469.773 135.234 468.961 135.234C467.781 135.234 466.781 135.023 465.961 134.602C465.148 134.18 464.531 133.645 464.109 132.996C463.695 132.34 463.488 131.668 463.488 130.98H466.688C466.703 131.441 466.82 131.812 467.039 132.094C467.266 132.375 467.551 132.578 467.895 132.703C468.246 132.828 468.625 132.891 469.031 132.891C469.469 132.891 469.832 132.832 470.121 132.715C470.41 132.59 470.629 132.426 470.777 132.223C470.934 132.012 471.012 131.77 471.012 131.496ZM489.305 132.141V126.492C489.305 126.086 489.238 125.738 489.105 125.449C488.973 125.152 488.766 124.922 488.484 124.758C488.211 124.594 487.855 124.512 487.418 124.512C487.043 124.512 486.719 124.578 486.445 124.711C486.172 124.836 485.961 125.02 485.812 125.262C485.664 125.496 485.59 125.773 485.59 126.094H482.215C482.215 125.555 482.34 125.043 482.59 124.559C482.84 124.074 483.203 123.648 483.68 123.281C484.156 122.906 484.723 122.613 485.379 122.402C486.043 122.191 486.785 122.086 487.605 122.086C488.59 122.086 489.465 122.25 490.23 122.578C490.996 122.906 491.598 123.398 492.035 124.055C492.48 124.711 492.703 125.531 492.703 126.516V131.941C492.703 132.637 492.746 133.207 492.832 133.652C492.918 134.09 493.043 134.473 493.207 134.801V135H489.797C489.633 134.656 489.508 134.227 489.422 133.711C489.344 133.188 489.305 132.664 489.305 132.141ZM489.75 127.277L489.773 129.188H487.887C487.441 129.188 487.055 129.238 486.727 129.34C486.398 129.441 486.129 129.586 485.918 129.773C485.707 129.953 485.551 130.164 485.449 130.406C485.355 130.648 485.309 130.914 485.309 131.203C485.309 131.492 485.375 131.754 485.508 131.988C485.641 132.215 485.832 132.395 486.082 132.527C486.332 132.652 486.625 132.715 486.961 132.715C487.469 132.715 487.91 132.613 488.285 132.41C488.66 132.207 488.949 131.957 489.152 131.66C489.363 131.363 489.473 131.082 489.48 130.816L490.371 132.246C490.246 132.566 490.074 132.898 489.855 133.242C489.645 133.586 489.375 133.91 489.047 134.215C488.719 134.512 488.324 134.758 487.863 134.953C487.402 135.141 486.855 135.234 486.223 135.234C485.418 135.234 484.688 135.074 484.031 134.754C483.383 134.426 482.867 133.977 482.484 133.406C482.109 132.828 481.922 132.172 481.922 131.438C481.922 130.773 482.047 130.184 482.297 129.668C482.547 129.152 482.914 128.719 483.398 128.367C483.891 128.008 484.504 127.738 485.238 127.559C485.973 127.371 486.824 127.277 487.793 127.277H489.75ZM498.609 125.027V135H495.234V122.32H498.398L498.609 125.027ZM498.117 128.215H497.203C497.203 127.277 497.324 126.434 497.566 125.684C497.809 124.926 498.148 124.281 498.586 123.75C499.023 123.211 499.543 122.801 500.145 122.52C500.754 122.23 501.434 122.086 502.184 122.086C502.777 122.086 503.32 122.172 503.812 122.344C504.305 122.516 504.727 122.789 505.078 123.164C505.438 123.539 505.711 124.035 505.898 124.652C506.094 125.27 506.191 126.023 506.191 126.914V135H502.793V126.902C502.793 126.34 502.715 125.902 502.559 125.59C502.402 125.277 502.172 125.059 501.867 124.934C501.57 124.801 501.203 124.734 500.766 124.734C500.312 124.734 499.918 124.824 499.582 125.004C499.254 125.184 498.98 125.434 498.762 125.754C498.551 126.066 498.391 126.434 498.281 126.855C498.172 127.277 498.117 127.73 498.117 128.215ZM521.578 132.141V126.492C521.578 126.086 521.512 125.738 521.379 125.449C521.246 125.152 521.039 124.922 520.758 124.758C520.484 124.594 520.129 124.512 519.691 124.512C519.316 124.512 518.992 124.578 518.719 124.711C518.445 124.836 518.234 125.02 518.086 125.262C517.938 125.496 517.863 125.773 517.863 126.094H514.488C514.488 125.555 514.613 125.043 514.863 124.559C515.113 124.074 515.477 123.648 515.953 123.281C516.43 122.906 516.996 122.613 517.652 122.402C518.316 122.191 519.059 122.086 519.879 122.086C520.863 122.086 521.738 122.25 522.504 122.578C523.27 122.906 523.871 123.398 524.309 124.055C524.754 124.711 524.977 125.531 524.977 126.516V131.941C524.977 132.637 525.02 133.207 525.105 133.652C525.191 134.09 525.316 134.473 525.48 134.801V135H522.07C521.906 134.656 521.781 134.227 521.695 133.711C521.617 133.188 521.578 132.664 521.578 132.141ZM522.023 127.277L522.047 129.188H520.16C519.715 129.188 519.328 129.238 519 129.34C518.672 129.441 518.402 129.586 518.191 129.773C517.98 129.953 517.824 130.164 517.723 130.406C517.629 130.648 517.582 130.914 517.582 131.203C517.582 131.492 517.648 131.754 517.781 131.988C517.914 132.215 518.105 132.395 518.355 132.527C518.605 132.652 518.898 132.715 519.234 132.715C519.742 132.715 520.184 132.613 520.559 132.41C520.934 132.207 521.223 131.957 521.426 131.66C521.637 131.363 521.746 131.082 521.754 130.816L522.645 132.246C522.52 132.566 522.348 132.898 522.129 133.242C521.918 133.586 521.648 133.91 521.32 134.215C520.992 134.512 520.598 134.758 520.137 134.953C519.676 135.141 519.129 135.234 518.496 135.234C517.691 135.234 516.961 135.074 516.305 134.754C515.656 134.426 515.141 133.977 514.758 133.406C514.383 132.828 514.195 132.172 514.195 131.438C514.195 130.773 514.32 130.184 514.57 129.668C514.82 129.152 515.188 128.719 515.672 128.367C516.164 128.008 516.777 127.738 517.512 127.559C518.246 127.371 519.098 127.277 520.066 127.277H522.023ZM530.953 125.086V135H527.578V122.32H530.754L530.953 125.086ZM534.773 122.238L534.715 125.367C534.551 125.344 534.352 125.324 534.117 125.309C533.891 125.285 533.684 125.273 533.496 125.273C533.02 125.273 532.605 125.336 532.254 125.461C531.91 125.578 531.621 125.754 531.387 125.988C531.16 126.223 530.988 126.508 530.871 126.844C530.762 127.18 530.699 127.562 530.684 127.992L530.004 127.781C530.004 126.961 530.086 126.207 530.25 125.52C530.414 124.824 530.652 124.219 530.965 123.703C531.285 123.188 531.676 122.789 532.137 122.508C532.598 122.227 533.125 122.086 533.719 122.086C533.906 122.086 534.098 122.102 534.293 122.133C534.488 122.156 534.648 122.191 534.773 122.238ZM543.164 122.32V124.711H535.781V122.32H543.164ZM537.609 119.191H540.984V131.18C540.984 131.547 541.031 131.828 541.125 132.023C541.227 132.219 541.375 132.355 541.57 132.434C541.766 132.504 542.012 132.539 542.309 132.539C542.52 132.539 542.707 132.531 542.871 132.516C543.043 132.492 543.188 132.469 543.305 132.445L543.316 134.93C543.027 135.023 542.715 135.098 542.379 135.152C542.043 135.207 541.672 135.234 541.266 135.234C540.523 135.234 539.875 135.113 539.32 134.871C538.773 134.621 538.352 134.223 538.055 133.676C537.758 133.129 537.609 132.41 537.609 131.52V119.191Z"
              ></path>
            </g>
            <defs>
              <clipPath id="clip0_124_76">
                <rect width="892" height="500.75" fill="white"></rect>
              </clipPath>
            </defs>
          </svg>

          <div class="text-end responsive-paragraph">
            <h1 class="pb-5">
              بدون دردسر زبان انگلیسی را <span class="text-warning">سلیس</span> صحبت
              کنید
            </h1>
            <p class="lead pb-4 fs-5">
              هدف اصلی ما آموختن مفاهیم مهم زبان انگلیسی از طریق بهترین و برترین
              روش های آموزش زبان است
            </p>
            <button
              class="btn btn-warning btn-lg mb-2"
              data-bs-toggle="modal"
              data-bs-target="#enroll"
            >
              ثبت نام را شروع کنید
            </button>
          </div>
        </div>
      </div>
    </section>

    <!-- Newsletter -->
    <section class="bg-lightDark text-light p-5">
      <div class="container">
        <div
          class="d-md-flex justify-content-between align-items-center responsive-paragraph"
        >
          <h3 class="mb-3 mb-md-0">در هفته نامه ما ثبت نام کنید</h3>
          <form
            action="https://formspree.io/f/mbjverqb"
            method="POST"
            class="newsletter-form-size"
          >
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                name="email"
                placeholder="ایمیلتان را وارد کنید"
                required
              />
              <button class="btn btn-dark btn-lg" type="submit">ارسال</button>
            </div>
          </form>
        </div>
      </div>
    </section>
    <!-- Boxes -->
    <section class="p-5 my-5 fs-5">
      <div class="container">
        <div class="row text-center g-4">
          <div class="col-md">
            <div class="card text-primary border border-primary">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-laptop"></i>
                </div>
                <h3 class="card-title mb-3">مجازی</h3>
                <p class="card-text">
                  کلاس های ما به گونه های مختلفی برگزار می شوند. کلاس های آنلاین
                  مدرسان ما بسیار محبوب هستند
                </p>
                <a
                  href="./blogs/amirali/class-formats-explained"
                  class="btn btn-primary">بیشتر</a
                >
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card bg-lightDark text-light">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-person-square"></i>
                </div>
                <h3 class="card-title mb-3 p-3">دوگانه</h3>
                <p class="card-text">
                  دوره های دوگانه شامل جلسات هم حضوری و هم مجازی هستند
                </p>
                <a
                  href="./blogs/amirali/class-formats-explained"
                  class="btn btn-dark">بیشتر</a
                >
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card text-primary border border-primary">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-people"></i>
                </div>
                <h3 class="card-title mb-3">حضوری</h3>
                <p class="card-text">
                  جلسات حضوری نیز در اساس کار ما قرار دارند. کافی است هماهنگی
                  لازم را با مدرس مورد نظر خود انجام دهید
                </p>
                <a
                  href="./blogs/amirali/class-formats-explained"
                  class="btn btn-primary">بیشتر</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Learn Sections -->
    <section id="learn" class="p-5 bg-primary">
      <div class="container">
        <div class="row align-items-center justify-content-between text-light">
          <div class="col-md p-5 text-end responsive-paragraph">
            <h2 class="pb-3">آموختن انگلیسی را به شکل یک هنر تجربه کنید</h2>
            <p class="lead">
              هر هدفی که از شروع به یادگیری زبان انلگلیسی داشته باشید، آغاز مسیر
              از همین جاست
            </p>
            <p class="fs-5">
              رویکرد جامع ما برای آموزش اصول اولیه زبان انگلیسی تضمین می کند که
              شما همه مفاهیمی را که برای داشتن یک پایه محکم به عنوان یک زبان
              آموز نیاز دارید در اختیارتان خواهد بود
            </p>
            <a
              href="./blogs/amirali/the-very-first-step"
              class="btn btn-warning mt-3"
            >
              <i class="bi bi-chevron-right"></i> بیشتر
            </a>
          </div>
          <div class="col-md">
            <img src={book} class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </section>
    <section id="learn" class="p-5">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md">
            <img src={education} class="img-fluid" alt="" />
          </div>
          <div class="col-md p-5 text-end responsive-paragraph">
            <h2 class="pb-2">گرامر پیشرفته و آیلتس</h2>
            <p class="lead">
              برای آزمون آیلتس به ساده ترین شکل ممکن آماده شوید
            </p>
            <p class="fs-5">
              آزمون آیلتس برای بسیاری از زبان آموزان چالش برانگیز به نظر می رسد،
              اما استراتژی ما به شما اجازه می دهد تا به راحتی به امتیاز ایده آل
              خود بدون هزینه های غیر ضروری برسید
            </p>
            <a
              data-bs-toggle="modal"
              data-bs-target="#ielts"
              class="btn btn-primary mt-3"
            >
              <i class="bi bi-chevron-right"></i> بیشتر
            </a>
          </div>
        </div>
      </div>
    </section>
    <section id="learn" class="p-5 my-3 bg-primary">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md p-5 text-end responsive-paragraph text-light">
            <h2 class="pb-2">روشی منحصر به فرد برای آموزش کودکان</h2>
            <p class="lead">
              کودکی زمان فوق العاده است برای شروع به یادگیری زبان انگلیسی
            </p>
            <p class="fs-5">
              با ثبت نام درکلاس های پویای ما، پتانسیل بی حد و مرز آینده فرزندتان
              را باز کنید! ما در پرورش ذهنی که علاقه مند به فراگیری زبان است
              تخصص داریم
            </p>
            <a
              data-bs-toggle="modal"
              data-bs-target="#children"
              class="btn btn-warning mt-3"
            >
              <i class="bi bi-chevron-right"></i> بیشتر
            </a>
          </div>
          <div class="col-md">
            <img src={children} class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </section>

    <!-- Question Accordion -->
    <section id="questions" class="p-5">
      <div class="container">
        <h2 class="text-center mb-4">سوالات متداول</h2>
        <div class="accordion accordion-flush" id="questions">
          <!-- Item 1 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-one"
              >
                دقیقا کجا قرار دارید؟
              </button>
            </h2>
            <div
              id="question-one"
              class="accordion-collapse collapse"
              data-bs-parent="#questions"
            >
              <div class="accordion-body text-end">
                مربیان ما در مناطق مختلف تهران قرار دارند. فقط باید مطمئن شوید
                که مربی منتخب شما می تواند کلاس ها را در نزدیکی محل شما برگزار
                کند. برای اطلاع از این موضوع، تماس بگیرید یا پیام ارسال کنید!
                اگر هیچ مربی در منطقه شما وجود ندارد، نگران نباشید! ما برای زبان
                آموزانی مانند شما کلاس های آنلاین ارائه می دهیم
              </div>
            </div>
          </div>
          <!-- Item 2 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-two"
              >
                هزینه شرکت در کلاس ها چقدر هست؟
              </button>
            </h2>
            <div
              id="question-two"
              class="accordion-collapse collapse"
              data-bs-parent="#questions"
            >
              <div class="accordion-body text-end">
                اطمینان از اینکه زبان آموزان ما نتیجه هزینه ای که پرداخت می کنند
                را ببینند، اولویت اصلی ما است. خدمات ما قیمت مناسبی دارند، اما
                بسته به مربی و خدماتی که ارائه می شود، قیمت آن متفاوت است.
                بنابراین، تنها کاری که باید انجام دهید این است که تماس بگیرید یا
                به مربی انتخابی خود پیام ارسال کنید
              </div>
            </div>
          </div>
          <!-- Item 3 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-three"
              >
                چه چیزی لازم هست بدانم؟
              </button>
            </h2>
            <div
              id="question-three"
              class="accordion-collapse collapse"
              data-bs-parent="#questions"
            >
              <div class="accordion-body text-end">
                در دوره های مبتدی ما پیشنیازی وجود ندارد. برای دوره های خاص
                مانند آیلتس و ادبیات انگلیسی می توانید برای اطلاع از پیش نیازها
                با مدرسان مربوطه تماس بگیرید
              </div>
            </div>
          </div>
          <!-- Item 4 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-four"
              >
                چطور ثبت نام کنم؟
              </button>
            </h2>
            <div
              id="question-four"
              class="accordion-collapse collapse"
              data-bs-parent="#questions"
            >
              <div class="accordion-body text-end">
                شما دو راه دارید، یا می توانید این<a
                  class="form-link"
                  data-bs-toggle="modal"
                  data-bs-target="#enroll"
                >
                  فرم
                </a> را پر کنید و یا مستقیما با ما <a
                  href="tel:+989352487000"
                  class="form-link">تماس</a
                > بگیرید
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="instructors" class="p-5 bg-primary">
      <div class="container">
        <h2 class="text-center text-white">مدرسان</h2>
        <p class="lead text-center text-white mb-5">
          تمامی مدرسان ما بالای ۵ سال سابقه کاری دارند
        </p>
        <div class="row g-4">
          <div class="col">
            <div class="card bg-light">
              <div class="card-body text-center add-padding-bottom">
                <img
                  src={firstInstructor}
                  class="rounded-circle mb-3 proper-homepage-avatar-size"
                  alt=""
                />
                <h3 class="card-title mb-3">امیرعلی تقی شاه</h3>
                <p class="card-text">
                  هیچ چیزی من را بیشتر از آشنا کردن زبان آموزان با مفاهیم جذاب
                  زبان انگلیسی هیجان زده نمی کند
                </p>
                <a href="tel:+989352487000"
                  ><i class="bi bi-telephone-fill text-dark mx-1"></i></a
                >
                <a href="https://wa.me/+989352487000"
                  ><i class="bi bi-whatsapp text-dark mx-1"></i></a
                >
                <a href="https://t.me/amiralixd"
                  ><i class="bi bi-telegram text-dark mx-1"></i></a
                >
                <a href="https://instagram.com/amirali_tsh"
                  ><i class="bi bi-instagram text-dark mx-1"></i></a
                >
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card bg-light">
              <div class="card-body text-center">
                <img
                  src={secondInstructor}
                  class="rounded-circle mb-3 proper-homepage-avatar-size"
                  alt=""
                />
                <h3 class="card-title mb-3">ساره رنجبر</h3>
                <p class="card-text">
                  من تلاش می کنم تا بیشتر از دانش ارائه دهم - سعی من ایجاد
                  کنجکاوی، تشویق به تفکر انتقادی و عشق یادگرفتن انگلیسی در زبان
                  آموزانم هست
                </p>
                <a href="tel:+989391533600"
                  ><i class="bi bi-telephone-fill text-dark mx-1"></i></a
                >
                <a href="https://wa.me/+989391533600"
                  ><i class="bi bi-whatsapp text-dark mx-1"></i></a
                >
                <a href="https://t.me/sarehranjbar"
                  ><i class="bi bi-telegram text-dark mx-1"></i></a
                >
                <a href="https://instagram.com/sarehranjbar"
                  ><i class="bi bi-instagram text-dark mx-1"></i></a
                >
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card bg-light">
              <div class="card-body text-center">
                <img
                  src={thirdInstructor}
                  class="rounded-circle mb-3 proper-homepage-avatar-size"
                  alt=""
                />
                <h3 class="card-title mb-3">سهیلا عاشقی</h3>
                <p class="card-text">
                  آموزش کودکان از طریق بازی ها و فعالیت های سرگرم کننده مرا
                  سرشار از شادی می کند. مشتاقانه منتظر ایجاد این تجربه با کودکان
                  بیشتری هستم
                </p>
                <a href="tel:+989305776373"
                  ><i class="bi bi-telephone-fill text-dark mx-1"></i></a
                >
                <a href="https://wa.me/+989305776373"
                  ><i class="bi bi-whatsapp text-dark mx-1"></i></a
                >
                <a href="https://t.me/Star75moon"
                  ><i class="bi bi-telegram text-dark mx-1"></i></a
                >
                <a href="https://instagram.com/star.a27"
                  ><i class="bi bi-instagram text-dark mx-1"></i></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- blogs -->
    <section id="learn" class="p-5">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md">
            <img src={hubArea} class="img-fluid" alt="" />
          </div>
          <div class="col-md p-5 text-end responsive-paragraph">
            <h2 class="pb-2">آموزش ها و راهنمایی های خلاصه ما</h2>
            <p class="lead">بلاگ های ما را از دست ندهید</p>
            <p class="fs-5">
              چه به تازگی شروع به یادگیری کرده باشید، چه حرفه ای باشید، در وبلاگ
              ما نکاتی را خواهید دید که ارزش وقت شما را دارد
            </p>
            <a
              href="/blogs/authors"
              target="_blank"
              class="btn btn-primary mt-3"
            >
              <i class="bi bi-chevron-right"></i> بیشتر
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer -->
    <Footer />
    <!-- Enroll Modal -->
    <div
      class="modal fade"
      id="enroll"
      tabindex="-1"
      aria-labelledby="enrollLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button
              style="margin: 0;"
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"></button>
            <h5 class="modal-title" id="enrollLabel">ثبت نام</h5>
          </div>
          <div class="modal-body text-end">
            <p class="lead">
              بعد از پر کردن این فرم ما با شما تماس خواهیم گرفت
            </p>
            <form action="https://formspree.io/f/mbjverqb" method="POST">
              <div class="mb-3">
                <label for="first-name" class="col-form-label"> نام</label>
                <input
                  type="text"
                  class="form-control"
                  id="first-name"
                  name="firstName"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="last-name" class="col-form-label"
                  >نام خانوادگی</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="last-name"
                  name="lastName"
                />
              </div>
              <div class="mb-3">
                <label for="email" class="col-form-label">آدرس ایمیل</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="phone" class="col-form-label">شماره تماس</label>
                <input
                  type="tel"
                  class="form-control"
                  id="phone"
                  name="phone"
                />
              </div>
              <div class="text-center pb-3 fw-semibold fs-5">
                همچنین می توانید مستقیما با ما تماس بگیرید <a
                  href="tel:+989352487000">۰۹۳۵۲۴۸۷۰۰۰</a
                >
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  بستن
                </button>
                <button type="submit" class="btn btn-primary" id="signup-button"
                  >ارسال</button
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Children & IELTS Modal -->
    <div
      class="modal fade"
      id="children"
      tabindex="-1"
      aria-labelledby="enrollLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <p class="text-center">
              به زودی این صفحه به وب سایت اضافه خواهد شد. در حال حاضر می توانید
              به مدرس مربوطه <a class="form-link" href="https://t.me/Star75moon"
                >پیام</a
              > بفرستید و یا <a class="form-link" href="tel:+989305776373"
                >تماس</a
              > بگیرید
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="ielts"
      tabindex="-1"
      aria-labelledby="enrollLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <p class="text-center">
              به زودی این صفحه به وب سایت اضافه خواهد شد. در حال حاضر می توانید
              به مدرس مربوطه <a
                class="form-link"
                href="https://t.me/sarehranjbar">پیام</a
              > بفرستید و یا <a class="form-link" href="tel:+989391533600"
                >تماس</a
              > بگیرید
            </p>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"></script>
  </body>
</html>

<!-- 
  current step: 
   - Add animated hero banner (with the "learn English as an art" message right in the book) with css
   - Design and Add the Handbook page
   - Add the hangman game
   

-->
