---
const allPostContent = await Astro.glob(`../content/pers/*/*.md`);

const { blogPostTitle, blogAuthor } = Astro.props;
const newBlogPostTitle = blogPostTitle.replaceAll("-", " ");
---

{
    allPostContent.map((post) => {
        if (
            post.frontmatter.title.toLowerCase() === newBlogPostTitle &&
            post.frontmatter.instructor.toLowerCase() === blogAuthor
        ) {
            return (
                <div class="position-relative pb-5 text-end">
                    <h1 class="mt-5 pt-5 fw-bold">
                        {post.frontmatter.persianTitle}
                    </h1>
                    <a href={`../${blogAuthor}`}>
                        <i
                            style="top:65px"
                            class="position-absolute start-0 fa-solid fa-rotate-left"
                        />
                    </a>
                    <p class="text-secondary pt-1">{post.frontmatter.date}</p>
                    <a
                        class="d-block"
                        target="_blank"
                        href={post.frontmatter.audioLink}
                    >
                        <p class="text-primary">
                            برای نسخه صوتی اینجا کلیک کنید
                        </p>
                    </a>
                    <span class="border border-dark rounded p-2">
                        {post.frontmatter.blogSeriesName}
                    </span>
                    <div class="mt-4 pt-5" set:html={post.compiledContent()} />
                </div>
            );
        }
    })
}
