---
const { authorName } = Astro.props;

const allPostContent = await Astro.glob(`../content/*/*.md`);
allPostContent.reverse();
---

{
    allPostContent.map((post) => {
        if (post.frontmatter.instructor.toLowerCase() === authorName) {
            return (
                <div class="text-start p-3" data-post>
                    <a class="text-primary-hover" href={post.frontmatter.link}>
                        <h1 class="fs-1 fw-bold mt-5">
                            {post.frontmatter.title}
                        </h1>
                    </a>
                    <p class="text-secondary my-3">{post.frontmatter.date}</p>
                    <span class="border border-dark rounded p-2">
                        {post.frontmatter.blogSeriesName}
                    </span>
                    <p class="mt-4 fs-5">{post.frontmatter.introduction} </p>
                    <a class="text-primary" href={post.frontmatter.link}>
                        Read more
                    </a>
                    <p class="text-secondary mt-3">
                        level: {post.frontmatter.level}
                    </p>
                </div>
            );
        }
    })
}
