---
const allPostContent = await Astro.glob(`../content/*/*.md`);

const { blogPostTitle, blogAuthor } = Astro.props;
const newBlogPostTitle = blogPostTitle.replaceAll("-", " ");
---

{
    allPostContent.map((post) => {
        if (
            post.frontmatter.title.toLowerCase() === newBlogPostTitle &&
            post.frontmatter.instructor.toLowerCase() === blogAuthor
        ) {
            return (
                <div class="pb-5">
                    <h1 class="mt-5 pt-5 fw-bold">{post.frontmatter.title}</h1>
                    <p class="text-secondary pt-1">{post.frontmatter.date}</p>
                    <a target="_blank" href={post.frontmatter.audioLink}>
                        <p class="text-primary">
                            Click here for the audio version
                        </p>
                    </a>
                    <span class="border border-dark rounded p-2">
                        {post.frontmatter.blogSeriesName}
                    </span>
                    <div class="mt-4 pt-5" set:html={post.compiledContent()} />
                </div>
            );
        }
    })
}
