---
const { authorName } = Astro.props;

const allPostContent = await Astro.glob(`../content/*/*.md`);
---

{
    allPostContent.map((post) => {
        if (post.frontmatter.instructor.toLowerCase() === authorName) {
            return (
                <>
                    <p>
                        {post.frontmatter.year}
                        <span>{post.frontmatter.instructor} </span>
                        <a href={post.frontmatter.link}>click me</a>
                    </p>
                </>
            );
        }
    })
}

<!-- <main>
    <h1>This is where you'll see the blog years:</h1>
    {
        allPostContent.map((post) => (
            <>
                <p>
                    {post.frontmatter.year}
                    <span>{post.frontmatter.instructor} </span>
                </p>
            </>
        ))
    }
</main> --><!--  -->
