---
const { authorName } = Astro.props;

const allPostContent = await Astro.glob(`../content/*/*.md`);
---

{
    allPostContent.map((post) => {
        if (post.frontmatter.instructor.toLowerCase() === authorName) {
            return (
                <>
                    <p>
                        {post.frontmatter.year}
                        <span>{post.frontmatter.instructor} </span>
                    </p>
                </>
            );
        }
    })
}

<!-- the real code: (anchor tag temporarily omitted for showcase)
{
    allPostContent.map((post) => {
        if (post.frontmatter.instructor.toLowerCase() === authorName) {
            return (
                <>
                    <p>
                        {post.frontmatter.year}
                        <span>{post.frontmatter.instructor} </span>
                        <a href={post.frontmatter.link}>click me</a>
                    </p>
                </>
            );
        }
    })
}
 -->
